{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}编辑文章{% endblock %}
{% block content %}
    {# Markdown css #}
{#    <link rel="stylesheet" href="{% static 'editormd/css/editormd.min.css' %}">#}
    <div class="container">
        <div class="mt-2 mb-4">
            <form action="." method="post">{% csrf_token %}
                <div class="form-group">
                    <label for="title">文章标题</label>
                    <input type="text"
                           name="title"
                           required
                           placeholder="请输入标题.."
                           autocomplete="off"
                           class="form-control"
                           value="{{ article.title }}"
                    >
                </div>
                <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                        <label for="column">栏目</label>
                        <select name="column" class="custom-select mr-sm-2">
                            <option value="">请选择栏目..</option>
                            {% for column in columns %}
                                {% if column == article.column %}
                                    <option value="{{ column.id }}" selected>{{ column.title }}</option>
                                {% else %}
                                    <option value="{{ column.id }}">{{ column.title }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="layui-form-label">标签</label>
                    <input type="text"
                           name="tags"
                           placeholder="标签"
                           autocomplete="off"
                           class="form-control"
                           value="{{ article.tags }}"
                    >
                </div>
                <div class="form-group">
                    <label for="id_body">内容</label>
                    <textarea id="id_body" name="body" required class="form-control" rows="30">{{ article.body }}</textarea>
                </div>
                <input type="submit" value="提交" class="btn btn-primary">
            </form>
        </div>
    </div>
{% endblock %}